Packages/com.ptc.vuforia.engine-10.28.4.tgz
Packages/
[Ll]ibrary/
temp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
assets/
*.meta
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
sysinfo.txt
Packages/com.*
*.pidb
*.userprefs
*.csproj
*.sln
*.suo
.DS_Store
Thumbs.db
desktop.ini
*.log
*.sql
*.sqlite
*.lfs
*.dll
*.exe
*.so
*.dylib
*.class
*.zip
*.rar
*.7z
*.tar
*.gz
*.tgz
Generated/
*.bak
*.swp
*.tmp
*.old
!.gitignore